  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
      </div>
      <div class="col-sm-3">
        <small>modified: {% last_modified_at %} </small>
        <!-- <small>modified: {{ page.updated | default: "March 21, 2016" | date: "%x" }}</small>  -->
      </div>
    </div>
  </div>

